* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorGeneral {
    width: 99%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: (3, 1fr);
    grid-template-rows: repeat (5, auto);
    grid-template-areas:
        "header header header"
        "inicio inicio aside"
        "galeria galeria galeria"
        "footer footer footer"
}

.header {
    grid-area: header;
    background-color: rgb(222, 207, 193);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
}

.logoPpal {
    width: 200px;
    animation-name: girando;
    animation-duration: 0.5s;
    animation-iteration-count: 1;    
}

.navBar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.navBar ul li {
    list-style-type: none;
    margin: 1rem;
    color: white;
    text-transform: uppercase;
    animation-name: cambioColor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.navBar a {
    margin: 1rem;
    color: white;
    text-transform: uppercase;
}

.navBar a:hover {
    color: rgb(192, 167, 167);
    font-weight: 900;
}

.menuItem {
    list-style-type: none;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

}

.inicio {
    grid-area: inicio;
    display: flex;
    background-image: radial-gradient(circle, rgb(247, 215, 185), rgb(255, 220, 220), rgb(222, 207, 193));
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.imgInicio {
    width: 100%;
    height: 80%;
}

.tituloInicio {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-end;
}

.textoInicio {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-end;
    text-align: justify;
}

.btnInicio {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    justify-items: center;
    border-radius: 14px;
    border-width: 1px;
    border-color: bisque;
    transition: padding 2s, margin 1s;
}

.btnInicio:hover {
    transition: .5s;
    transform: scale(1.2);
}

.aside {
    grid-area: aside;
    display: flex;
    background-image: url(../img/foto1.jpeg);
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.tituloAside {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-end;
}

.textoAside {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: justify;
}

.btnAside {
    display: flex;
    margin: 1rem;
    padding: 0.5rem;
    justify-items: center;
    border-radius: 14px;
    border-width: 1px;
    border-color: bisque;
    transition: padding 2s, margin 1s;
}

.btnAside:hover {
    transition: .5s;
    transform: scale(1.2);
}

.galeria {
    grid-area: galeria;
    background-color: rgb(222, 207, 193);
}

.imgGaleria {
    width: 33%;
    padding: 20px;
}

.footer {
    grid-area: footer;
    background-color: rgb(222, 207, 193);
    align-items: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: (3, 1fr);
    grid-template-rows: repeat (3, auto);
    grid-template-areas:
        "logo texto texto"
        "logo encontranos redes"
}

.logoPalFooter {
    grid-area: logo;
    width: 200px;
    padding: 10px;
    margin-right: 20px;
}

.texto {
    grid-area: texto;
    padding-inline-end: 25px;
    text-align: justify;
}

.encontranos {
    grid-area: encontranos;
    padding: 5px;
}

.encontranos ul li {
    list-style-type: none;
}

.redes {
    grid-area: redes;
    padding: 5px;
}

.redes ul li {
    list-style-type: none;
}

.contenedorQuienes {
    width: 99%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 5px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: (3, 1fr);
    grid-template-rows: repeat (3, auto);
    grid-template-areas:
        "header header header"
        "quienes quienes quienes"
        "footer footer footer"
}

.quienes {
    grid-area: quienes;
    display: flex;
    background-color: rgb(222, 207, 193);
    justify-items: center;
    flex-direction: column;
    align-items: center;
}

.quienes p {
    padding: 61px;
    text-align: justify;
    padding-inline-start: 68px;
}


@keyframes cambioColor {
    0% {
        background-color: rgb(222, 207, 193);
    }

    25% {
        background-color: rgb(174, 162, 151);
    }

    50% {
        background-color: rgb(114, 106, 98);
    }

    100% {
        background-color: rgb(44, 40, 36);
    }
}

@keyframes girando{
    0%{
        transform: rotate(0deg);
        transition: 1s;
    }

    25%{
        transform: rotate(90deg);
        transition: 1s;
    }

    50%{
        transform: rotate(180deg);
        transition: 1s;
    }

    75%{
        transform: rotate(270deg);
        transition: 1s;
    }

    100%{
        transform: rotate(360deg);
        transition: .5s;
    }
}

@media (max-width: 768px) {
    .menuItem {
        padding: 0px;
        flex-wrap: wrap;
    }

    .imgGaleria {
        width: 31%;
        padding-left: 38px;
    }
}

@media(max-width:375px) {
    .navBar ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logoPpal {
        width: 100px;
    }

    .imgGaleria {
        width: 32%;
        padding-left: 0px;
        padding-right: 5px;
    }

    .footer {
        grid-template-areas:
            "texto texto texto"
            "texto texto texto"
            "logo encontranos redes"
    }

    .texto {
        padding-inline-start: 25px;
        padding-top: 5px;
    }

    .logoPalFooter {
        width: 130px;
        margin: 0px;
    }

    .encontranos {
        margin: 4px;
    }

    .redes {
        margin: 4px;
    }
}